//
// Font styles //
//
$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Poppins', sans-serif;
$font-family-tertiary: 'Lora', serif;

//
// Theme Color //
//
$theme-color: #EBE5DC;
$theme-color-09: rgba(235, 229, 220, 0.9);
$theme-color-08: rgba(235, 229, 220, 0.8);
$theme-color-07: rgba(235, 229, 220, 0.7);
$theme-color-06: rgba(235, 229, 220, 0.6);
$theme-color-05: rgba(235, 229, 220, 0.5);
$theme-color-04: rgba(235, 229, 220, 0.4);
$theme-color-03: rgba(235, 229, 220, 0.3);
$theme-color-02: rgba(235, 229, 220, 0.2);
$theme-color-01: rgba(235, 229, 220, 0.1);

//
// Basic Colors //
//
$border-gray: rgb(220, 223, 226);
$gray: rgb(242, 245, 248);
$dark: rgb(28, 30, 32);
$black-09: rgba(0, 0, 0, 0.9);
$black-08: rgba(0, 0, 0, 0.8);
$black-07: rgba(0, 0, 0, 0.7);
$black-06: rgba(0, 0, 0, 0.6);
$black-05: rgba(0, 0, 0, 0.5);
$black-04: rgba(0, 0, 0, 0.4);
$black-03: rgba(0, 0, 0, 0.3);
$black-02: rgba(0, 0, 0, 0.2);
$black-01: rgba(0, 0, 0, 0.1);
$white-09: rgba(255, 255, 255, 0.9);
$white-08: rgba(255, 255, 255, 0.8);
$white-07: rgba(255, 255, 255, 0.7);
$white-06: rgba(255, 255, 255, 0.6);
$white-05: rgba(255, 255, 255, 0.5);
$white-04: rgba(255, 255, 255, 0.4);
$white-03: rgba(255, 255, 255, 0.3);
$white-02: rgba(255, 255, 255, 0.2);
$white-015: rgba(255, 255, 255, 0.15);
$white-01: rgba(255, 255, 255, 0.1);
$primary: rgb(82, 84, 86);
$primary-lighter: rgb(129, 131, 133);
$green: #32CD32;
$red: #E32227;